body{
background:#f5f5f5;
font-family:Arial;
}

header{
background:#0056d2;
color:white;
text-align:center;
padding:20px;
}

section{
background:white;
width:80%;
margin:20px auto;
padding:20px;
border-radius:10px;
}

h2{
color:#0056d2;
}

img{
width:300px;
display:block;
margin:auto;
}

input,
select{
width:100%;
padding:10px;
margin:10px 0;
}

button,
input[type="submit"]{
background:#0056d2;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
}

footer{
background:black;
color:white;
text-align:center;
padding:15px;
}